.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    z-index: 1029;
    &.show {
        display: block;
        opacity: 0.35;
    }
}