.footer {
  @include linear-gradient(90deg, $blue-dark-color, $blue-light-color);
  color: $font-grey-color;

  a {
    color: $font-grey-color;
  }

  &__nav {
    padding-left: 10px;
  }

  &__nav-item {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;

    &::before {
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      background: url('../images/content/dot.png');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item {
    @extend .my-2;
  }

  &__info {
    @extend .py-5;
    background: $light-grey;
    margin-bottom: 1px;
  }

  &__header {
    @extend .mt-3;
    @extend .mt-md-0;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--block {
      font-size: 1.2rem;
      font-weight: 600;
      white-space: nowrap;
      color: $font-blue-color;
    }

    &::after {
      margin-left: 8px;
      display: block;
      width: 100%;
      max-width: 100%;
      content: '';
      height: 1px;
      @include linear-gradient(90deg, $blue-dark-color, $blue-light-color);
    }
  }

  &__social {
    display: inline-block;
    padding: 8px;
    width: 36px;
    height: 36px;
    object-fit: contain;
    background: #3a5c9a;
    border-radius: 100%;
  }

  &__copyright {
    @extend .py-3;
    background: $white;
  }

  &__copyright-paragraph {
    @extend .m-0;
  }
}
