/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */
@import 'components//heading';
@import 'components//nav';
@import 'components/login';
@import 'components/modal';
@import 'components/overlay';

/* Browser specific styles */
@import 'dirty/hacks';

/* Imports */
@import '~bootstrap/scss/bootstrap';
@import '~slick-carousel/slick/slick';

/* Layout */
@import 'layout/header';
@import 'layout/pricing';
@import 'layout/about';
@import 'layout/our-work';
@import 'layout/offer';
@import 'layout/numbers';
@import 'layout/opinion';
@import 'layout/footer';

section:nth-child(even) {
  background: $light-grey;
}

strong {
  font-weight: 600;
}

section .container {
  @extend .py-4;
}

section .heading {
  padding-left: 0px;
}
